{
    "parserOptions": {
        "sourceType": "module"
    },
    "rules":
    {
        "block-scoped-var": "warn",
        "camelcase": "warn",
        "comma-dangle": ["warn", "always-multiline"],
        "consistent-return": "warn",
        "curly": "warn",
        "default-case": "warn",
        "eqeqeq": "warn",
        "guard-for-in": "warn",
        "no-alert": "warn",
        "no-console": "warn",
        "no-else-return": "warn",
        "no-empty-function": "warn",
        "no-eval": "warn",
        "no-eq-null": "warn",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-loop-func": "warn",
        "no-magic-numbers": ["warn", {"ignore": [0, 1, -1], "ignoreArrayIndexes": true}],
        "no-multiple-empty-lines": ["warn", {"max": 1}],
        "no-multi-spaces": "warn",
        "no-new": "warn",
        "no-new-func": "warn",
        "no-new-wrappers": "warn",
        "no-unused-expressions": "warn",
        "no-unused-vars": "warn",
        "no-useless-concat": "warn",
        "no-undef-init": "warn",
        "no-underscore-dangle": "warn",
        "no-param-reassign": "warn",
        "no-self-compare": "warn",
        "no-void": "warn",
        "no-with": "warn",
        "one-var": "warn",
        "quotes": ["warn", "double"],
        "semi": "warn",
        "strict": "warn",
        "vars-on-top": "warn",
        "yoda": "warn"
    },
    "env":
    {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}